<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  <div class="content-container">
    <div class="sidebar">
      <header class="site-header">
        <img src="{{ '/assets/meadow-logo.webp' | relative_url}}" alt="Meadow Logo" class="logo" />
        <span class="header-title">Meadow Manual</span>
      </header>
      <!-- Chapter links -->
      <a href="{{ '/installing-unity.html' | relative_url }}" class="{% if page.url == '/installing-unity.html' %}active{% endif %}">Installing Unity</a>
      <a href="{{ '/install-the-template-project.html' | relative_url }}" class="{% if page.url == '/install-the-template-project.html' %}active{% endif %}">Install the Template Project</a>
      <a href="{{ '/navigate-the-unity-editor.html' | relative_url }}" class="{% if page.url == '/navigate-the-unity-editor.html' %}active{% endif %}">Navigate the Unity Editor</a>
      <a href="{{ '/create-your-first-experience.html' | relative_url }}" class="{% if page.url == '/create-your-first-experience.html' %}active{% endif %}">Create Your First Experience</a>
      <a href="{{ '/upload-to-meadow.html' | relative_url }}" class="{% if page.url == '/upload-to-meadow.html' %}active{% endif %}">Upload to Meadow</a>    
      <a href="{{ '/visual-scripting.html' | relative_url }}" class="{% if page.url == '/visual-scripting.html' %}active{% endif %}">Visual Scripting</a>
      <a href="{{ '/map-marker.html' | relative_url }}" class="{% if page.url == '/map-marker.html' %}active{% endif %}">Map Marker</a>
      <a href="{{ '/image-tracking.html' | relative_url }}" class="{% if page.url == '/image-tracking.html' %}active{% endif %}">Image Tracking</a>
      <a href="{{ '/dialogue-system.html' | relative_url }}" class="{% if page.url == '/dialogue-system.html' %}active{% endif %}">Dialogue System</a>
    </div>
    
    
  
  <div class="main-content">
    <!-- Main content will be inserted here -->
    {{ content }}
  </div>
  
  <div class="toc">
    <p class="toc-title">On this Page</p>
    {{ content | toc_only }}
  </div>
  
</div>
</body>
</html>
